/* Modal */

.ReactModalPortal>div {
    opacity: 0;
}


.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity .2s ease-in-out;
    z-index: 999;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.react-datetime-picker__button {
    background-color: white !important;
    padding: 0px 6px;
}


.modal-calendar .modal-event-form .event-input-wrapper-4 .event-input .datetimepicker {
    border-radius: 2px;
}
.react-datepicker {
    font-size: 1rem;
    background-color: #fff;
    color: rgb(1, 1, 108);
    font-weight: 400;
}
.react-datepicker__year-select  {
    font-size: 1rem!important;
    border: 0!important;
    padding: 0!important;
    background-color: rgb(252, 252, 252)!important;
}
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item {
    height: 20px;
    padding: 3px;
    white-space: nowrap;
    line-height: 1.8rem;
}