nav {
    display: none;
    background-image: linear-gradient(to bottom, #072a55 0%, #24557b 100%);
    flex-shrink: 0;
    height: 100vh;
    min-width: 45px;
    position: sticky;
    top: 0;
    transition: width .4s ease, box-shadow 0.7s ease;
    width: 45px;
    z-index: 100;

    .nav-icons-wrapper {
        height: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        left: 1.2rem;
        position: absolute;
        white-space: nowrap;

        a {
            cursor: unset;
        }

        &:first-child {
            margin-top: 20px;
        }

        .nav-icon-wrapper {
            color: rgb(196, 196, 196);
            cursor: pointer;
            display: grid;
            grid-template-columns: 2rem 1fr;
            justify-items: center;
            margin-top: 1.2rem;
            transition: $default-color-transition;
            text-decoration: none;

            &:hover {
                color: white;
            }

            &:hover {
                color: white;
            }

            i {
                transition: $default-color-transition;
                font-size: 1.2rem;
                text-align: center;
            }

            .nav-text {
                font-size: 0.8rem;
                margin-left: 2rem;
                height: 0;
                width: 0;
                opacity: 0;
                transform: translateX(-180px);
                transition: opacity 0.3s cubic-bezier(0.03, 0.95, 0.97, 0.02), transform 0.3s ease-in-out, $default-color-transition;
            }

            .show-text {
                height: auto;
                width: auto;
                opacity: 1;
                transform: translateX(0px);
            }
        }

        .extend-nav {
            transition: transform 0.3s ease-in-out;
            margin-bottom: 2rem;

            &:hover {
                transform: translateX(2px);
            }
        }

        .reduce-nav {
            align-self: flex-end;
            position: relative;
            right: -13px;
            bottom: 20px;
            transition: transform 0.3s ease-in-out;

            &:hover {
                transform: translateX(-2px);
            }
        }
    }
}

.nav-icon-wrapper-reset-grid {
    width: 22px;
}

.nav-large {
    width: 150px;
    -webkit-box-shadow: 12px 3px 13px -4px rgba(0, 0, 0, 0.502);
    -moz-box-shadow: 12px 3px 13px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 12px 3px 13px -4px rgba(0, 0, 0, 0.75);
}

.active-link {
    color: rgba(71, 122, 252, 0.988) !important;

    &:hover {
        color: rgba(71, 122, 252, 0.988) !important;
    }
}

@media (min-width: 768px) {
    nav {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 992px) {
    nav {
        width: 65px;

        .nav-icons-wrapper {

            left: 2.2rem;

            .nav-icon-wrapper {

                i {
                    font-size: 2rem !important;
                }

                .nav-text {
                    font-size: 1.2rem;
                }
            }

            .reduce-nav {
                right: -10px;
                bottom: 20px;
            }
        }
    }

    .nav-large {
        width: 170px;
        -webkit-box-shadow: 12px 3px 13px -4px rgba(0, 0, 0, 0.502);
        -moz-box-shadow: 12px 3px 13px -4px rgba(0, 0, 0, 0.75);
        box-shadow: 12px 3px 13px -4px rgba(0, 0, 0, 0.75);
    }
}

@media (min-width: 1200px) {
    .nav-large {
        width: 185px;
    }
}