.table-wrapper {
    align-items: center;
    cursor: default;
    display: flex;
    flex-direction: column;
    font-weight: 100;
    margin-bottom: 2rem;
    overflow: auto;
    padding: 1rem 2rem;
    font-size: 1.2rem;

    table {
        border-spacing: 4px;
        border-radius: 5px;
        font-family: "Noto Sans JP",
            sans-serif !important;
        font-weight: 100 !important;
        font-size: 1rem;
        margin: 0 auto;
        margin-top: 4rem;
        overflow: hidden;
        -webkit-box-shadow: 6px 6px 15px -5px rgba(0, 0, 0, 0.56);
        -moz-box-shadow: 6px 6px 15px -5px rgba(0, 0, 0, 0.56);
        box-shadow: 6px 6px 15px -5px rgba(0, 0, 0, 0.56);

        thead {
            background-image: linear-gradient(to right, #021e5bb0 0%, #001d4fbb 100%);
            background-color: rgba(244, 244, 244, 0.658);
            color: rgb(255, 255, 255);

            th {
                font-weight: 100 !important;
            }
        }

        tbody {

            tr {
                background-color: rgb(255, 255, 255);
                transition: all 0.3s ease-in-out;
                cursor: pointer;

                &:hover {
                    background-color: #0020656e;
                    color: white;
                }
            }

            tr:nth-child(odd) {
                background-color: rgba(0, 78, 147, 0.043);

                &:hover {
                    background-color: #0020656e;
                }
            }

        }



        th,
        td {
            margin: 0;
            padding: 1rem;
            position: relative;

            :last-child {
                border-right: 0;
            }
        }
    }

    .table-page-controls {
        margin-top: 2rem;

        .table-buttons-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .table-page {
            color: rgb(160, 160, 160);
            font-size: 1rem;
            margin-top: 1rem;
            text-align: center;
        }
    }
}


@media (min-width: 768px) {
    .table-wrapper {

        table {
            font-size: 1.2rem;
        }
    }
}