.table-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    cursor: default;

    table {
        border-spacing: 0;
        border: 1px solid rgb(201, 197, 197);
        font-family: "Noto Sans JP",
            sans-serif !important;
        font-weight: 100 !important;
        font-size: 1rem;
        margin: 0 auto;
        margin-top: 4rem;

        thead {
            background-image: linear-gradient(to bottom, #024a81c0 0%, #022f52 100%);
            color: rgba(232, 232, 232, 0.94);

            th {
                font-weight: 400 !important;
            }
        }

        tbody tr {
            transition: background-color 0.2s ease-in-out;
            cursor: pointer;

            &:hover {
                background-color: rgba(0, 78, 147, 0.11);
            }
        }

        tr {

            :last-child {
                .td {
                    border-bottom: 0;
                }
            }
        }

        td {
            text-align: center;
        }

        th,
        td {
            margin: 0;
            padding: 0.5rem;
            border-bottom: 1px solid rgb(201, 197, 197);
            border-right: 1px solid rgb(201, 197, 197);
            position: relative;

            :last-child {
                border-right: 0;
            }
        }
    }

    .table-page-controls {
        margin-top: 2rem;

        .table-buttons-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .table-page {
            color: rgb(160, 160, 160);
            font-size: 1.2rem;
            margin-top: 1rem;
            text-align: center;
        }
    }
}


@media (min-width: 768px) {
    .table-wrapper {

        table {
            font-size: 1.5rem;
        }
    }
}

@media (min-width: 992px) {
    .table-wrapper {
        table {
            font-size: 1.6rem;
        }
    }



}