.topbar-wrapper {
    align-items: center;
    background-color: rgba(232, 232, 232, 0.356);
    //background-image: linear-gradient(to left, #09203f 0%, #416078 100%);
    border-bottom: 1px solid rgba(0, 0, 0, 0.055);
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    padding: 0.5rem;
    box-shadow: 0px -2px 6px 6px rgba(0, 0, 0, 0.151);

    .logo-topbar {
        color: rgba(30, 62, 142, 0.753);
        font-weight: 100;
        font-size: 2rem;
    }

    img {
        cursor: pointer;
        margin-left: 2rem;
        width: 4rem;
    }

    i {
        font-size: 1.2rem;
        cursor: pointer;

        &.fa-bell {
            color: rgba(252, 231, 4, 0.755);
            margin-right: 1.5rem;
            transform: rotate(45deg);
            transition: $default-color-transition, text-shadow 0.6s ease;

            &:hover {
                color: rgb(254, 226, 68);
                text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.644);
            }
        }

        &.fa-sign-out-alt {
            color: rgba(72, 72, 72, 0.281);
            margin-right: 2rem;
            transition: $default-color-transition, text-shadow 0.3s ease;

            &:hover {
                color: rgba(230, 181, 74, 1);
                text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.228);
            }
        }
    }

    span {
        color: rgb(34, 34, 34);
        font-weight: 100;
        font-size: 1.2rem;
        cursor: default;
        margin-right: 1rem;
    }
}

@media (min-width:992px) {
    .topbar-wrapper {
        margin-bottom: 0;
        padding: 0.8rem;

        i {
            font-size: 1.8rem;
        }

        span {
            font-size: 1.8rem;
        }

    }
}