.calendar-screen {
    font-size: 1rem;

    h1 {
        border-bottom: 2px solid rgba(255, 166, 0, .24);
        color: #0c0c0ca1;
        font-size: 2rem;
        font-weight: 100;
        margin-bottom: 3rem;
        padding-bottom: 1rem;
        text-align: center;
    }
}

/* Calendar library custom styles */

.rbc-row-segment {
    font-size: 1rem;
}

.rbc-toolbar {
    display: flex;
    flex-direction: column;
}

.rbc-toolbar-label {
    order: -1;
    margin-bottom: 10px;
}

.rbc-btn-group:first-child {
    order: 1;
    margin-bottom: 10px;
}

.rbc-btn-group:last-child {
    margin-bottom: 10px;
}

.rbc-month-row {
    min-height: 120px;
    flex: 1 1 10%;
}

.rbc-event-content {
    font-size: 0.7rem;
}

.rbc-today {
    background-color: #3354da1a;
    -webkit-box-shadow: inset 0px 0px 1px 1px rgba(250, 83, 83, 0.5);
    -moz-box-shadow: inset 0px 0px 1px 1px rgba(250, 83, 83, 0.5);
    box-shadow: inset 0px 0px 1px 1px rgba(3, 31, 142, 0.5);
}

.rbc-date-cell.rbc-now {
    font-weight: bold;

}

/* .rbc-toolbar {
    width: 75%;
}

.rbc-month-view {

    width: 75%;

} */

@media (min-width: 592px) {
    .rbc-month-row {
        min-height: 13rem;
    }
}

@media (min-width: 768px) {
    .calendar-screen {
        font-size: 1.2rem;
    }

    .rbc-month-row {
        min-height: 10rem;
    }

    .rbc-toolbar {
        flex-direction: row;
    }

    .rbc-toolbar-label {
        order: 0;
        margin-bottom: 10px;
    }

    .rbc-btn-group:first-child {
        order: 0;
        margin-bottom: 10px;
    }

    .rbc-btn-group:last-child {
        margin-bottom: 10px;
    }
}

@media (min-width: 992px) {
    .rbc-month-row {
        min-height: 12rem;
    }

    .calendar-screen {
        font-size: 1.4rem;
    }

    .rbc-event-content {
        font-size: 0.8rem;
    }
}

@media (min-width: 1200px) {
    .rbc-month-row {
        min-height: 14rem;
    }

    .calendar-screen {
        font-size: 1.6rem;
    }

    .rbc-event-content {
        font-size: 1.1rem;
    }
}