h1.technician-h1 {
    border-bottom: 2px solid rgba(255, 166, 0, .24);
    color: #0c0c0ca1;
    font-size: 2rem;
    font-weight: 100;
    margin-bottom: 3rem;
    padding-bottom: 1rem;
    text-align: center;
}

.crew-wrapper {

    font-size: 1rem;

    .technician-wrapper {
        align-items: center;
        background-color: rgb(255, 255, 255);
        display: grid;
        grid-template-rows: 4rem 1fr;
        margin-bottom: 5rem;
        -webkit-box-shadow: 0px 7px 12px 1px rgba(0, 0, 0, 0.20);
        -moz-box-shadow: 0px 7px 12px 1px rgba(0, 0, 0, 0.20);
        box-shadow: 0px 7px 12px 1px rgba(0, 0, 0, 0.20);
        transition: box-shadow 0.3s ease-in-out;

        &:hover {
            -webkit-box-shadow: 0px 7px 12px 1px rgba(0, 0, 0, 0.4);
            -moz-box-shadow: 0px 7px 12px 1px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 7px 12px 1px rgba(0, 0, 0, 0.4);
        }

        .technician-name-surname {
            align-items: center;
            background-image: linear-gradient(to bottom, #024a81c0 0%, #022f52 100%);
            color: white;
            display: flex;
            font-size: 1.2rem;
            font-weight: 100;
            margin-bottom: 0.5rem;
            overflow-y: hidden;
            padding: 1.5rem 1.2rem;
            -webkit-box-shadow: 0px 5px 12px -7px rgba(0, 0, 0, 0.50);
            -moz-box-shadow: 0px 5px 12px -7px rgba(0, 0, 0, 0.50);
            box-shadow: 0px 5px 12px -7px rgba(0, 0, 0, 0.50);
            width: 100%;

            span {
                &:nth-child(1) {
                    margin-right: 0.2rem;
                }
            }
        }

        .wrapper-technician-button {
            display: flex;
            justify-content: center;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }

        small {
            color: rgba(0, 0, 0, 0.61);
            margin-right: 0.2rem;
        }
    }
}

@media (min-width: 768px) {

    .crew-wrapper {
        display: grid;
        font-size: 1.4rem;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;

        .technician-wrapper {

            input {
                font-size: 1.4rem;
            }

            .technician-name-surname {
                font-size: 1.2rem;
                max-height: 2rem;
                margin-bottom: 1rem;
            }

        }
    }
}

@media (min-width: 992px) {

    .crew-wrapper {
        display: grid;
        font-size: 1.4rem;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;

        .technician-wrapper {

            input {
                font-size: 1.4rem;
            }

            .technician-name-surname {
                max-height: 2rem;
                margin-bottom: 1rem;
            }

        }
    }
}

@media (min-width: 1200px) {

    .crew-wrapper {
        display: grid;
        font-size: 1.4rem;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 2rem;

        .technician-wrapper {

            input {
                font-size: 1.4rem;
            }

            .technician-name-surname {
                max-height: 2rem;
                margin-bottom: 1rem;
            }

        }
    }
}