h1.technician-h1 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.116);
    font-size: 3rem;
    font-weight: 100;
    margin-bottom: 3rem;
    padding-bottom: 1rem;
    text-align: center;
}

.crew-wrapper {

    font-size: 1rem;

    .technician-wrapper {
        align-items: center;
        background-color: rgb(255, 255, 255);
        display: grid;
        grid-template-rows: 4rem 1fr 7rem;
        margin-bottom: 5rem;
        -webkit-box-shadow: 0px 7px 12px 1px rgba(0, 0, 0, 0.20);
        -moz-box-shadow: 0px 7px 12px 1px rgba(0, 0, 0, 0.20);
        box-shadow: 0px 7px 12px 1px rgba(0, 0, 0, 0.20);
        transition: box-shadow 0.3s ease-in-out;

        &:hover {
            -webkit-box-shadow: 0px 7px 12px 1px rgba(0, 0, 0, 0.4);
            -moz-box-shadow: 0px 7px 12px 1px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 7px 12px 1px rgba(0, 0, 0, 0.4);
        }

        .technician-name-surname {
            align-items: center;
            background-image: linear-gradient(to bottom, #024a81c0 0%, #022f52 100%);
            color: white;
            display: flex;
            font-size: 1.6rem;
            font-weight: 100;
            margin-bottom: 0.5rem;
            padding: 1.5rem 1.2rem;
            -webkit-box-shadow: 0px 5px 12px -7px rgba(0, 0, 0, 0.50);
            -moz-box-shadow: 0px 5px 12px -7px rgba(0, 0, 0, 0.50);
            box-shadow: 0px 5px 12px -7px rgba(0, 0, 0, 0.50);
            width: 100%;

            span {
                &:nth-child(1) {
                    margin-right: 0.6rem;
                }
            }
        }

        .wrapper-technician-button {
            display: flex;
            justify-content: center;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }

        small {
            color: rgba(0, 0, 0, 0.61);
            margin-right: 0.2rem;
        }
    }
}

@media (min-width: 768px) {

    .crew-wrapper {
        display: grid;
        font-size: 1.4rem;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;

        .technician-wrapper {

            input {
                font-size: 1.4rem;
            }

            .technician-name-surname {
                max-height: 2rem;
                margin-bottom: 1rem;
            }

        }
    }
}

@media (min-width: 992px) {

    .crew-wrapper {
        display: grid;
        font-size: 1.4rem;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 2rem;

        .technician-wrapper {

            input {
                font-size: 1.4rem;
            }

            .technician-name-surname {
                max-height: 2rem;
                margin-bottom: 1rem;
            }

        }
    }
}

/* h1.technician-h1 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.116);
    font-size: 3rem;
    font-weight: 100;
    margin-bottom: 3rem;
    padding-bottom: 1rem;
    text-align: center;
}

.crew-wrapper {

    font-size: 1rem;

    .technician-wrapper {
        background-color: rgb(255, 255, 255);
        color: rgba(0, 0, 0, 0.699);
        margin-bottom: 2rem;
        row-gap: 1rem;
        -webkit-box-shadow: 0px 7px 12px 1px rgba(0, 0, 0, 0.20);
        -moz-box-shadow: 0px 7px 12px 1px rgba(0, 0, 0, 0.20);
        box-shadow: 0px 7px 12px 1px rgba(0, 0, 0, 0.20);



        .technician-name-surname {
            align-items: center;
            background-image: linear-gradient(to bottom, #024a81c0 0%, #022f52 100%);
            color: white;
            display: flex;
            font-size: 1.6rem;
            font-weight: 100;
            margin-bottom: 0.5rem;
            padding: 1.5rem 1.2rem;
            -webkit-box-shadow: 0px 5px 12px -7px rgba(0, 0, 0, 0.50);
            -moz-box-shadow: 0px 5px 12px -7px rgba(0, 0, 0, 0.50);
            box-shadow: 0px 5px 12px -7px rgba(0, 0, 0, 0.50);

            span {
                &:nth-child(1) {
                    margin-right: 0.5rem;
                }
            }
        }

        .technician-data-wrapper {

            display: grid;
            grid-template-columns: 1fr 2fr;

            img {
                align-self: center;
            }

            span {
                display: block;
                margin-bottom: 0.2rem;
            }

            .technician-data {
                padding: 1rem;

                .grid-crew-screen {
                    align-items: center;
                    display: grid;
                    grid-template-columns: 1fr 1fr;

                    .grid-crew-screen-child {
                        align-items: center;
                        display: grid;
                        grid-template-columns: 8rem 5rem;
                    }

                    .grid-crew-screen-child-2 {
                        align-items: center;
                        display: grid;
                        grid-template-columns: 12rem 8rem;
                    }
                }
            }
        }

        .technician-notes {
            margin-bottom: 1.5rem;

            textarea {
                background-color: rgb(252, 252, 252);
                border-bottom: 1px solid rgba(0, 0, 0, 0.11);
                font-size: 1rem;
                margin-top: 0.4rem;
                min-height: 10rem;
                overflow-y: auto;
                padding: 0.5rem;
                resize: none;
                width: 100%;
            }
        }

        .wrapper-technician-button {
            display: flex;
            justify-content: flex-end;
        }

        small {
            color: rgba(0, 0, 0, 0.61);
            margin-right: 0.2rem;
        }
    }
}

@media (min-width: 992px) {

    .crew-wrapper {
        display: grid;
        font-size: 1.4rem;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 2rem;

        .technician-wrapper {

            input {
                font-size: 1.4rem;
            }

            .technician-name-surname {
                max-height: 2rem;
                margin-bottom: 1rem;
            }

            .technician-data-wrapper {
                align-items: center;
                column-gap: 1rem;
                grid-template-columns: 2fr 6fr;
                margin-bottom: 1rem;
                padding: 1rem;

                img {
                    max-height: 200px;
                    justify-self: center;
                }

            }

            .technician-notes {
                padding: 1rem;

                textarea {
                    font-size: 1.5rem;
                    padding: 0.8rem;
                }
            }

            small {
                color: rgba(0, 0, 0, 0.61);
                margin-right: 1rem;
            }
        }
    }
} */