.historical-main-container {

    .h1-historical {
        border-bottom: 2px solid rgba(255, 166, 0, .24);
        color: #0c0c0ca1;
        font-size: 2rem;
        font-weight: 100;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        text-align: center;
    }

}