$default-color-transition: color 0.3s ease;
$default-backgroundcolor-transition: background-color 0.3s ease;
$color-disabled: rgba(0, 0, 0, 0.466);
$background-modal-disabled: rgb(247, 247, 247);
$black-color-form-input: rgba(0, 0, 0, 0.596);
$border-bottom-color: rgba(0, 15, 77, 0.100);